.lead__caption {
  font-weight: normal;
  font-size: 10px;
  line-height: 140%;
  margin: 8px 0 0 0;
  padding: 0;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 940px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 380px) {
 .lead__caption {
margin-left: 16px;
 }
}