.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
   margin: 0;
   padding: 0;
}

@media screen and (max-width: 890px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
    max-width: 300px;
  } 
 }

 @media screen and (max-width: 715px) {
  .place__title {
    max-width: 100%;
  } 
 }

 @media screen and (max-width: 631px) {
  .place__title {
    font-size: 32px;
    line-height: 109%;
    padding-left: 16px;
  } 
 }