.photo-grid {
  display: grid;
  max-width: 1184px;
  padding: 92px 48px 0 48px;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content)); 
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 790px) {
  .photo-grid {
    gap: 16px;
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .photo-grid {
    gap: 12px;
    padding: 64px 16px 0 16px;
  }
}